#id1 {
  background: skyblue;
}
.class1 {
  background: yellowgreen;
  color: red;
}
/* !important:위에 사항 무시하고 우선순위가 된다 */
div {
  background: teal !important;
  color: white !important;
  width: 200px;
  height: 200px;
}
div {
  background: pink;
}
